In [ ]:
Q1

In [55]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]
A.extend(B)
A

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [ ]:
Q2

In [7]:
import numpy as np
C = np.identity(3)
C

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [ ]:
Q3.

In [56]:
import pandas as pd
df = pd.read_csv("./quiz.csv")
lowest_average = df[["fuel_type_code_pudl","fuel_cost_per_unit_burned"]].groupby('fuel_type_code_pudl').mean()
lowest_average.sort_values("fuel_cost_per_unit_burned",ascending=False)

                     fuel_cost_per_unit_burned
fuel_type_code_pudl
nuclear                            4955.157002
oil                                 168.877086
coal                                 67.421830
waste                                19.518122
other                                18.253856
gas                                  13.659397

In [ ]:
Q4

In [57]:
summary = df.describe()
round(summary,2)

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.00,29523.00,2.952300e+04,29523.00,29523.00,29523.00,29523.00
mean,118.60,2005.81,2.622119e+06,8.49,208.65,917.57,19.30
std,74.18,7.03,9.118004e+06,10.60,2854.49,68775.93,2091.54
min,1.00,1994.00,1.000000e+00,0.00,-276.08,-874.94,-41.50
25%,55.00,2000.00,1.381700e+04,1.02,5.21,3.78,1.94
50%,122.00,2006.00,2.533220e+05,5.76,26.00,17.37,4.13
75%,176.00,2012.00,1.424034e+06,17.01,47.11,42.14,7.74
max,514.00,2018.00,5.558942e+08,341.26,139358.00,7964521.00,359278.00

In [ ]:
Q5

In [58]:
skewness = df.skew()
round(skewness ,2)

utility_id_ferc1                  0.61
report_year                       0.01
fuel_qty_burned                  15.85
fuel_mmbtu_per_unit               4.14
fuel_cost_per_unit_burned        19.79
fuel_cost_per_unit_delivered    105.01
fuel_cost_per_mmbtu             171.68
dtype: float64

In [59]:
kurtosis = df.kurt()
round(kurtosis,2)

utility_id_ferc1                    1.09
report_year                        -1.15
fuel_qty_burned                   651.37
fuel_mmbtu_per_unit                55.60
fuel_cost_per_unit_burned         485.26
fuel_cost_per_unit_delivered    11765.05
fuel_cost_per_mmbtu             29489.13
dtype: float64

In [ ]:
Q6

In [60]:
missing = [x for x in df.columns if df[x].isnull().any()]
total = df['fuel_unit'].isnull().sum()
missing_percentage = round((total * 100 / len(df))*100,2)
print("Feature:",missing, "\n", "Total:",total,"\n", "Percent:",missing_percentage,"%")

Feature: ['fuel_unit']
 Total: 180
 Percent: 60.97 %

In [ ]:
Q8

In [63]:
import pandas as pd
df = pd.read_csv("./quiz.csv")
lowest_correlation = df.corr()
lowest_correlation["fuel_cost_per_unit_burned"].sort_values(ascending=False)

fuel_cost_per_unit_burned       1.000000
report_year                     0.013599
fuel_cost_per_unit_delivered    0.011007
fuel_cost_per_mmbtu            -0.000437
fuel_mmbtu_per_unit            -0.010034
fuel_qty_burned                -0.018535
utility_id_ferc1               -0.037863
Name: fuel_cost_per_unit_burned, dtype: float64

In [ ]:
Q9.

In [65]:
year = df.loc[(df["report_year"] == 1994) & (df["fuel_type_code_pudl"]=="coal")]['fuel_cost_per_unit_burned'].sum()
year1 = df.loc[(df["report_year"] == 1998) & (df["fuel_type_code_pudl"]=="coal")]['fuel_cost_per_unit_burned'].sum()
change = ((year1-year)/100)
percentage_change = round(change,2)
print(percentage_change,"%")

-30.82 %

In [ ]:
Q10

In [69]:
highest_average = df[["report_year","fuel_cost_per_unit_delivered"]].groupby("report_year").mean()
highest_average.sort_values("fuel_cost_per_unit_delivered",ascending=False)

             fuel_cost_per_unit_delivered
report_year
1997                         11140.197239
1996                          9196.705948
2000                           985.362877
2009                           652.694163
2018                           499.269966
2015                           326.535511
1998                           287.154420
2014                           192.737183
2013                           172.307591
2004                           139.524275
2016                           103.901761
2010                            91.862105
1994                            63.636060
2012                            60.994502
2001                            60.050396
2011                            59.774667
2008                            58.588197
2003                            55.663493
2002                            47.594361
2017                            46.196861
2007                            43.325023
2005                            41.438184
2006                            38.657484
1995                            32.735269
1999                            25.551627